#--------------------------#
# Magento Default Files    #
#--------------------------#

/*
!app/
app/*

!app/code/
app/code/*
!app/code/local/
app/code/local/*
!app/code/local/HB/
app/code/local/HB/*
!app/code/local/HB/Pickup/

!app/etc/
app/etc/*
!app/etc/modules/
app/etc/modules/*
!app/etc/modules/HB_Pickup.xml

!app/design/
app/design/*
!app/design/adminhtml/
app/design/adminhtml/*
!app/design/adminhtml/default/
app/design/adminhtml/default/*
!app/design/adminhtml/default/default/
app/design/adminhtml/default/default/*

!app/design/adminhtml/default/default/layout/
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/hb_pickup.xml

!app/design/adminhtml/default/default/template/
app/design/adminhtml/default/default/template/*
!app/design/adminhtml/default/default/template/hb/
app/design/adminhtml/default/default/template/hb/*
!app/design/adminhtml/default/default/template/hb/pickup/

!app/design/frontend/
app/design/frontend/*
!app/design/frontend/base/
app/design/frontend/base/*
!app/design/frontend/base/default/
app/design/frontend/base/default/*

!app/design/frontend/base/default/layout/
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/hb_pickup.xml

!app/design/frontend/base/default/template/
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/hb/
app/design/frontend/base/default/template/hb/*
!app/design/frontend/base/default/template/hb/pickup/